<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

<link rel="stylesheet" type="text/css" href="Style.css">
<style>
body  {
  background-image: url("images/meblesalon11.png");
  padding: 25px;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
<title>Meble Online</title>
</head>
<body>
		<div class="header">

		<div class="logo" align="center">
				<img src="images/logo.png" width="325">		
			</div>
				<div class="sticky">
			
	<section>
		<nav>
			<ul class="menuAdmin">
					
					<li ><a class="active" href="/produkty">Produkty</a></li>
					<li ><a href="/uzytkownicy">Uzytkownicy</a></li>
					<li ><a href="/wyloguj">Wyloguj</a></li>
			</ul>
		</nav>
	</section>
	</div>
	</div>
	
		<div class="prods">

	<table style="width: 90%">
		<tr>
			<th>Id</th>
			<th>Zdjecie</th>
			<th>Kategoria</th>
			<th>Nazwa</th>
			<th>Opis</th>
			<th>Cena</th>
			<th></th>
		</tr>
	<br>
	<br>
		<tr th:each="produkt : ${produkty}">
			<td><span th:text="${produkt.id}"></span></td>
			<td><img class="imagel" th:src="${produkt.zdjecie}" alt="debi" style="width:300px;height:200px"></td>
			<td><span th:text="${produkt.kategoria}"></span></td>
			<td><span th:text="${produkt.nazwa}"></span></td>
			<td><span th:text="${produkt.opis}"></span></td>
			<td><span th:text="${produkt.cena} + zł"></span></td>
			
			<th>
				<form th:action="@{usunProdukt}" method="post">
					
					<input type="hidden" name="id" th:value="${produkt.id}" /> 
			
  <td><button type="submit" class="btn btn-danger btn active" aria-pressed="true"> Usuń</button>	</td>
				
				<!--  <td><button type="submit2"> Usuń</button>	</td>-->
							
						<!-- -<a th:href="usunProdukt" class="btn btn-danger"> <i class="fa fa-arrow-circle-o-right" ></i>&nbsp;Usun</a> -->
						
			 	<td>	<a th:href="@{edytujProdukt/__${produkt.id}__}" class="btn btn-danger btn active" aria-pressed="true"> Edytuj</a> </td>
					 
<!-- <td>	 <button th:href="@{edytujProdukt/__${produkt.id}__}" type="submit2"> Edytuj</button>  </td> -->
 
 
 <!--	 <a th:href="dodajProdukt" class="btn btn-success btn-lg"> <i class="fa fa-arrow-right" ></i>&nbsp;&nbsp;Dodaj produkt</a>-->
				
				</form> 
		</th>
		</tr>
	</table>
<br>
	</div>
	<br>
	
		<div class="bato">
 <!--  <a th:href="dodajProdukt" class="btn btn-success btn-lg"> <i class="fa fa-arrow-right" ></i>&nbsp;&nbsp;Dodaj produkt</a> -->

 <a th:href="dodajProdukt" class="btn btn-danger btn active" aria-pressed="true">Dodaj produkt</a>

  <!--  <button th:href="dodajProdukt" type="submit"> Dodaj produkt</button> --> 
	
	<!--  	<a th:href="@{dodajProdukt}" title="Dodaj produkt">Dodaj produkt</a>	-->
	</div>
	
</body>
</html>